= form_for @visitation do |f|
  - if @visitation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visitation.errors.count, "error")} prohibited this visitation from being saved:"
      %ul
        - @visitation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  %br
  .field
    = f.label :time
    = f.time_select :time
  %br
  .field
    = f.label :comments
    = f.text_field :comments
  %br
  .field
    = f.label :property_id
    = f.number_field :property_id
  %br
  .actions
    = f.submit 'Save'
