%p
  %b Property type:
  = @property.property_type
%p
  %b Address:
  = @property.address
%p
  %b Location:
  = @property.location
%p
  %b Number of bedrooms:
  = @property.number_of_bedrooms
%p
  %b Number of bathrooms:
  = @property.number_of_bathrooms
%p
  %b Number of other rooms:
  = @property.number_of_other_rooms
%p
  %b Rent:
  = @property.rent
%p
  %b Deletion status:
  = @property.deletion_status
%p
  %b Subsidiary agency:
  = @property.subsidiary_agency_id
%p
  %b Owner:
  = @property.owner_id

%p
  %b Pictures:
  %table
  %tr
    %th

  - @property.pictures.each do |picture|
    %tr
      %td
        =link_to picture_path(picture) do
          = image_tag picture.image, class: 'imageThumbnail'


- if has_permission(current_user, :customer)
  - unless current_user.visiting_list.properties.include?(@property)
    = link_to 'Add To Visiting List', add_to_visiting_list_property_path(@property)
    \|
  - else
    Property is on your visiting list.
    %br

- if has_permission(current_user, :administrator)
  = link_to 'Edit', edit_property_path(@property)
  \|

= link_to 'Back', :back
