%h1 Welcome to the Administration Panel
%p
  You can access development testing features here.
%table.sortable
  %tr.tableHeader
    %th Resource
  %tr
    %td= link_to("Interviews", interviews_path)
  %tr
    %td= link_to("Advertisements", advertisements_path)
  %tr
    %td= link_to("Visiting Lists", visiting_lists_path)
  %tr
    %td= link_to("Subsidiary Agencies", subsidiary_agencies_path)
  %tr
    %td= link_to("Leases", leases_path)
  %tr
    %td= link_to("Visitations", visitations_path)
  %tr
    %td= link_to("Financial Institutions", financial_institutions_path)
  %tr
    %td= link_to("Users", users_path)
  %tr
    %td= link_to("Properties", properties_path)
  %tr
    %td= link_to("Pictures", pictures_path)
