%p
  %b Description:
  = @picture.description
%p
  %b Image:
  =link_to @picture.image.url do
    = image_tag @picture.image, class: 'imageThumbnail'
%p
  %b Property:
  = @picture.property_id

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
