= form_for @lease do |f|
  - if @lease.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lease.errors.count, "error")} prohibited this lease from being saved:"
      %ul
        - @lease.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :duration
    = f.number_field :duration
  %br
  .field
    = f.label :monthly_fee
    = f.text_field :monthly_fee
  %br
  .field
    = f.label :property_id
    = f.number_field :property_id
  %br
  .field
    = f.label :customer_id
    = f.number_field :customer_id
  %br
  .actions
    = f.submit 'Save'
